@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.IO

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    
</head>
<body>

    @foreach (var item in ViewBag.fileList)
    {
        <div class="img-thumbnail">
            <img src="http://localhost:8080/images/@item" data-url="http://localhost:8080/images/@item" title="@item" width="120" height="100"> @* Burada lokalimdeki senkronize dosyanın yolunu ngnix ile localhost:8080 e bağladım *@
        </div>
    }
</body>
</html>
